@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  border:none;
  margin:none;
  box-sizing: border-box;
  overflow-x:hidden
}

body{
  font-family: 'Poppins', sans-serif;
  background-color:#F8F8F8;
}

.fade-in {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 45% cover 40%;
  opacity: 1;

}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
 
} 

/* .fade-in {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease;
}

\.fade-in:not(:nth-child(-n+3)) {
  opacity: 0;
} */


/* .cards{
  animation: fadeOut linear;
  mask-image:linear-gradient(#000, rgba(0,0,0,0.2));
  -webkit-mask-image:linear-gradient(#000, rgba(0,0,0,0.2));
}

@keyframes fadeOut {
  from {
    mask-image:linear-gradient(#000, rgba(0,0,0,0.2));
  }
  to {
    mask-image:linear-gradient(#00,transparent)
  }
 
}   */
